<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	  layout:decorator="layout">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/vnd.microsoft.icon"
	href="assets/images_fn/mini_logo2.png" />
<script src="assets/js/jquery.js"></script>
<link href="assets/css/login.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	#loginError
	{
	display: none;
}
</style>
</head>
<body class="fullBackgroundImageBody">

	<div id="whitesquare">
		<div id="logoAuthenticationNew"></div>
	</div>
	<div id="blacksquare">
			<h1 >Changement mot de passe de : <span th:text="${session.username}" style="color: green;"></span> </h1>

			<div class="form-style-8">
				<form action="changPW" method="post" id="changPW">

					<input type="password" id="password" name="password" value="" required="required" placeholder="l'ancien Password"> 
					<input type="password" id="password1" value="" class="fadeIn third" name="password1" required="required" placeholder="Nouveau Password"> 
					<input id="password2" type="password" class="fadeIn third" name="password2" required="required" value="" placeholder="Retapez votre Nouveau mot de passe">

					<div class="loading" style="display: none">
						<span class="loading-content"> <label>Connexion en cours...</label>
						</span>
					</div>
					<div  class="loginError">
						<span th:if="${loginMsg}" th:text="${loginMsg}"></span>
					</div>
					
					<div class="col-md-6">
						<input type="submit" value="Changer" style="margin: 0px;;margin-left: 100px;float: left;margin-top: 9px;">
					</div>
				</form>
			</div>
	</div>
</body>
<script>

	$("#changPW" ).submit(function() {
			
		if($("#password1").val() == $("#password2").val())
			{
			return true;
			}
		else
			{
			$(".loginError").html("les mots de passe saisis ne sont pas identiques !! ");
			$(".loginError").css("display","block");
			$("#password2").css("color","red");
			$("#password2").css("border-bottom","1px solid red");
			
			return false;
			}
	});
</script>
</html>
